<div class="card" style="width: 18rem;">
    <img src="https://th.bing.com/th/id/OIP.lHwXvGasdTeFFPQcu6HbaAHaEo?w=245&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">COFFEE</h5>
      <p class="card-text">Coffee is a beloved beverage enjoyed worldwide, known for its rich flavor and energizing effects. Whether sipped in the morning or as a social treat, it brings warmth, comfort, and a moment of relaxation.</p>
      <a href="#" class="btn btn-primary">more about</a>
    </div>
  </div>